*.com
*.class
*.dll
*.exe
*.o
*.so
*.aux
*.bbl
*.bcf
*.blg
*.lof
*.log
*.lot
*.out
*.xml
*.gz
*.toc
*.xla
*.ttf
*.dpth
*.md5
*.dep
*.old
*.ausxlock
*.bcf
*.dpth
*.log
*.md5
*.xml
*.dep
*.gz
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.gug
*.guo
*.gus
*.ist
*.llg
*.llo
*.lls
*.lug
*.luo
*.lus
*.mog
*.moo
*.mos
*.xdy
*.toc
*.ttf